@model IEnumerable<MicroMarket.Models.Vendedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Vendedores</h1>

<p>
    <a asp-action="Create" class="btn btn-success shadow-sm">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.VendedorId" class="btn btn-sm btn-warning me-1">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.VendedorId" class="btn btn-sm btn-info me-1">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.VendedorId" class="btn btn-sm btn-danger">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
